@font-face {
	font-family: 'arrows';
	src:url('https://hardiwb.github.io/latsar/arrows/icomoon.eot');
	src:url('https://hardiwb.github.io/latsar/arrows/icomoon.eot?#iefix') format('embedded-opentype'),
		url('https://hardiwb.github.io/latsar/arrows/icomoon.woff') format('woff'),
		url('https://hardiwb.github.io/latsar/arrows/icomoon.ttf') format('truetype'),
		url('https://hardiwb.github.io/latsar/arrows/icomoon.svg#arrows') format('svg');
	font-weight: normal;
	font-style: normal;
}

.bb-custom-wrapper {
	position: relative;
	margin: 0 auto 40px;
	text-align: center;
	padding: 0px; 
	height:auto;
	width: 100%;
	height:auto;
}

.bb-custom-wrapper .bb-bookblock {
	box-shadow: 0 0 10px 0 rgb(0 0 0 / 3%);
}

.bb-custom-wrapper h3 {
	font-size: 1.4em;
	font-weight: 300;
	margin: 0.4em 0 1em;
}

.bb-custom-wrapper nav {
	width: 100%;
	height: 30px;
	margin: 1em auto 0;
	position: relative;
	z-index: 0;
	text-align: center;
}

.bb-custom-wrapper nav a {
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center;
	border-radius: 5px;
	background: $(main.color);
	color: #fff;
	font-size: 0;
	margin: 2px;
	transition: .17s ease;
}

.bb-custom-wrapper nav a:hover {
	background: $(dark.color);
	transition: .17s ease;
}

.bb-custom-wrapper nav a:active {
	position:relative;
	top:1px;
}

.bb-custom-icon:before {
	font-family: 'arrows';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 20px;
	line-height: 30px;
	display: block;
	-webkit-font-smoothing: antialiased;
}

.bb-custom-icon-first:before,
.bb-custom-icon-last:before {
	content: "\e002";
}

.bb-custom-icon-arrow-left:before,
.bb-custom-icon-arrow-right:before {
	content: "\e003";
}

.bb-custom-icon-list:before {
  content: "\e900";
}

.bb-custom-icon-list.active:before {
  content: "\ea0f";
}

.bb-custom-icon-arrow-left:before,
.bb-custom-icon-first:before {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

/* No JS */
.no-js .bb-custom-wrapper {
	height: auto;
}

.no-js .bb-custom-content {
	height: 470px;
}

/* Tambahan */
	
.bb-pagenum { 
    float:right; 
    position:absolute; 
    bottom:10px; 
    right:10px;
}

@media screen and (max-width: 480px)
{
.bb-bookblock {
/*height: 780px;*/
height: auto;}
	
	
/* Tombol unduh */
.myButton {
	background-color:$(main.color);
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Montserrat;
	font-size:14px;
	padding:10px 16px;
	text-decoration:none;
	transition: .17s ease;
}
.myButton:hover {
	background-color:$(dark.color);color:#ffffff;
	transition: .17s ease;
}
.myButton:active {
	position:relative;
	top:1px;
	transition: .17s ease;
}

.separator .myButton {
	position: absolute;
  	top: 50%;
 	left: 50%;
  	transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
}

